body {
  background: #f3f5f8;
  font-family: $font-primary;
}

img {
  max-width: 100%;
}

.icon {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.menu {
  & a {
    color: $color-primary;
    line-height: 135%;
    letter-spacing: 0.24px;
    &:hover, &.active {
      color: $color-accent-primary;
    }
  }

  & ul {
    padding: 0;
  }

  & li {
    list-style-type: none;
  }

  & ul {
    padding: 0;
  }

  &--row ul {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
  &--col ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  

  & ul {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
  }

  & li {
    text-align: center;
    padding: 8px 0;
  }
}


.pin {
  padding: 6px 25px;
  border: 1px solid $color-primary;
  border-radius: 54px;
}