body {
  font-family: "Muller";
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-secondary;
  }
}

p {
  color: #151515;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  color: #151515;
  font-family: Muller;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;

  &::marker {
    color: $color-accent;
    font-size: 1.3em;
  }
}

.title {
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 40px;

  &--1 {
    font-size: 52px;
  }

  &--2 {
    font-size: 46px;
  }

  &--3 {
    font-size: 40px;
  }
}