.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-accent {
  color: $color-accent;
}

.text-white {
  color: $color-white;
}

.text-white-secondary {
  color: $color-white-secondary;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-accent {
  background-color: $color-accent;
}

.bg-white {
  background-color: $color-white;
}

.bg-white-secondary {
  background-color: $color-white-secondary;
}