.button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 12px 32px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1px;
  text-align: center;
  background-color: $color-white;
  border: 1px solid $color-secondary;
  color: $color-secondary;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px $color-white;
  }

  &:active {
    transform: scale(0.99);
  }

  &--secondary {
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    color: $color-white;
  }

  &--accent {
    background-color: $color-accent;
    border: 1px solid $color-accent;
    color: $color-white;
  }

  &--white {
    background-color: $color-white;
    border: 1px solid $color-white;
    color: $color-accent;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;
  }
}