.button {
  cursor: pointer;
  padding: 15px 38px;

  color: $color-primary;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: 0.27px;
  border-radius: 54px;

  text-align: center;
  text-decoration: none;

  background-color: $color-accent-primary;
  border: none;

  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover, &.active {
    background-color: $color-accent-primary-light;
  }

  &--sm {
    padding: 10px 38px;
  }

  &--light {
    background-color: $color-light;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}
