.section {
  margin-bottom: 90px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.container {
  max-width: 1370px;
  margin-inline: auto;
  padding-inline: 23px;

  @media (max-width: 768px) {
    padding-inline: 10px;
  }
}
