<section class="section bg-white-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button class="button">Перезвоните мне</button>
        <button class="button button--secondary">Перезвоните мне</button>
        <button class="button button--accent">Перезвоните мне</button>
        <button class="button button--white">Перезвоните мне</button>
        <button class="button button--transparent">Перезвоните мне</button>
      </div>
    </div>
  </div>
</section>
